<!DOCTYPE html>
<!-- Hey! Hope you are well -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="SHARED_DIR/icon.png">
    <link rel="stylesheet" href="SHARED_DIR/style.css" />
    <title>pablos123</title>
    <script>
      let d = 1;
      window.onload = () => {
        document.getElementById("theme").addEventListener(
          "click",
          () => {
              document.body.classList.add( d ? "light" : "dark")
              document.body.classList.remove( d ? "dark" : "light")
              d = !d
          }
        );
      }
    </script>
  </head>
  <body class="dark">
    <header>
      <a href="BACK_BUTTON">⮜┈ノ</a>
      <a type="button" id="theme"> ☾.. 𖤓 </a>
    </header>

